{{!-- <h2>Edit your recipe</h2>
<form action="/recipes/{{_id}}/edit" method="post" enctype="multipart/form-data">
    <label>Title:
        <input type="text" name="title" value="{{title}}" required/>
    </label>
    <label>Description:
        <input type="textarea" name="description" value="{{description}}"/>
    </label>
    <label>Origin:
        <input type="textarea" name="origin" value="{{origin}}"/>
    </label>
    <label>Level:
        <label>
            <input type="radio" name="level" value="Easy" />
            Easy
        </label>
        <label>
            <input type="radio" name="level" value="Intermediate" />
            Intermediate
        </label>
        <label>
            <input type="radio" name="level" value="Advanced" />
            Advanced
        </label>
    </label>
    <label>Rations:
        <input type="number" name="rations" min="1" value="{{rations}}"/>
    </label>
    <label>Duration:
        <input type="number" name="duration" min="0" value="{{duration}}"/>
        minutes
    </label>
    <label>Is vegetarian?:
        <label>
            <input type="radio" name="isVegetarian" value="true" {{#if isVegetarian}}checked{{/if}}>
            Yes
        </label>
        <label>
            <input type="radio" name="isVegetarian" value="false" {{#unless isVegetarian}}checked{{/unless}}>
            No
        </label>
    </label>
    <label>Is vegan?:
        <label>
            <input type="radio" name="isVegan" value="true" {{#if isVegan}}checked{{/if}}/>
            Yes
        </label>
        <label>
            <input type="radio" name="isVegan" value="false" {{#unless isVegan}}checked{{/unless}}/>
            No
        </label>
    </label>
    <label>Ingredients:
        <input type="textarea" name="ingredients" value="{{ingredients}}" required/>
    </label>
    <label>Steps:
        <input type="textarea" name="steps" value="{{steps}}" required/>
    </label>
    
    <p>Imatge actual</p>
     <div class="form-group">
        <label>Image:
          <input type="file" name="image" class="form-control-file" /> 
        </label>
        {{#if image }}
          <p style="margin:0">Current Image:</p>
          <img src="{{image}}" class="img-fluid" alt="">
          <a href="/recipes/{{_id}}/delete-image">Eliminar Imagen</a>
        {{/if}}
      </div>

    <button type="submit">Edit Recipe</button>
</form> --}}

<div class="container mt-5">
    <div id="form" class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>Edit your recipe</h2>
        <form action="/recipes/{{_id}}/edit" method="post" enctype="multipart/form-data">

            <!-- Title -->
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{title}}" required>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description">{{description}}</textarea>
            </div>

            <!-- Origin -->
            <div class="form-group">
                <label for="origin">Origin:</label>
                <textarea class="form-control" id="origin" name="origin">{{origin}}</textarea>
            </div>

            <!-- Image -->
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>

            <!-- Level -->
            <div class="form-group">
                <label>Level:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Easy" />
                    <label class="form-check-label">Easy</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Intermediate" />
                    <label class="form-check-label">Intermediate</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Advanced" />
                    <label class="form-check-label">Advanced</label>
                </div>
            </div>

            <!-- Rations -->
            <div class="form-group">
                <label for="rations">Rations:</label>
                <input type="number" class="form-control" id="rations" name="rations" min="1" value="{{rations}}">
            </div>

            <!-- Duration -->
            <div class="form-group">
                <label for="duration">Duration:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="duration" name="duration" min="0" value="{{duration}}">
                    <div class="input-group-append">
                        <span class="input-group-text">minutes</span>
                    </div>
                </div>
            </div>

            <!-- Is vegetarian? -->
            <div class="form-group">
                <label>Is vegetarian?:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegetarian" value="true" {{#if isVegetarian}}checked{{/if}}>
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegetarian" value="false" {{#unless isVegetarian}}checked{{/unless}}>
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <!-- Is vegan? -->
            <div class="form-group">
                <label>Is vegan?:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegan" value="true" {{#if isVegan}}checked{{/if}}>
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegan" value="false" {{#unless isVegan}}checked{{/unless}}>
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <!-- Ingredients -->
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <input type="text" class="form-control" id="ingredients" name="ingredients" value="{{ingredients}}" required>
            </div>

            <!-- Steps -->
            <div class="form-group">
                <label for="steps">Steps:</label>
                <textarea class="form-control" id="steps" name="steps" required>{{steps}}</textarea>
            </div>

            <!-- Current Image -->
            <p>Current Image:</p>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            {{#if image }}
                <img src="{{image}}" class="img-fluid" alt="">
                <a href="/recipes/{{_id}}/delete-image">Delete Image</a>
            {{/if}}

            <button type="submit" class="btn btn-primary btn-block">Edit Recipe</button>
        </form>
    </div>
</div>