<img src={{recipe.image}} alt="recipe-image" />

<h1>{{recipe.title}}</h1>

<img src={{recipe.user.profileImage}} alt="profile-image" />
<p>{{recipe.user.username}}</p>

<p>{{recipe.description}}</p>

<!-- edit this -->
{{#if canEdit }}
<a href="/recipes/{{recipe._id}}/edit">
  Edit recipe
</a>
<a href="/recipes/{{recipe._id}}/delete">Delete recipe</a>
<p>You can edit!</p>
{{/if}}

<h3>Ingredients</h3>

<p>{{recipe.duration}}</p>
<p>{{recipe.rations}}</p>

<ul>
    {{#each recipe.ingredients}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>Hacer un split a un array antes de renderizar el hbs hacer un split del hbs para que sea un array cuando llegue. Hacer la funcion </p>

<h3>Recipe Steps</h3>

<p>{{recipe.steps}}</p>

<h3>Likes</h3>

<p>Likes received:</p>
<a href="#">Like this recipe</a>

<h3>Comments</h3>

{{#unless recipe.comments}}
  <p>No comments yet!</p>
{{/unless}}
 
{{#each recipe.comments}}
  <p><b>{{this.author.username}}:</b> {{this.content}}</p>
{{/each}}

<hr>
 
<h3>Add comment</h3>
 
<form action="/recipes/{{recipe._id}}/comment" method="post">
  Comment: <br>
  {{!-- <input type="text" name="postAuthor" value="{{author.username}}" hidden /> --}}
  <textarea name="content" cols="30" rows="2"></textarea>
 <br>
  <button type="submit">Comment</button>
</form>


<hr>
<a href="/auth/{{recipe.user._id}}">See {{recipe.user.username}}'s profile </a>

